@model IEnumerable<final_version2.Models.Rest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (ViewContext.HttpContext.User.IsInRole("Admin")) {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img class="img-thumbnail" src="@Url.Content("~/Uploads/" + item.Description)" style="height: 60px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.RestaurantId })} |
                @Html.ActionLink("Details", "Details", new { id = item.RestaurantId }) |
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.RestaurantId })}
                </td>
        </tr>
    }

</table>
