@model IEnumerable<final_version2.Models.Rest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="map" style="height:300px"></div>

@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", "Locations", new { @class = "btn btn-primary" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="coordinates">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="description">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="latitude">
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td class="longitude">
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>

            <td>
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.RestaurantId })} |
                @Html.ActionLink("Details", "Details", new { id = item.RestaurantId }) |
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.RestaurantId })}
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
}
